@import "tailwindcss";

html {
  background-color: #1b2636;
  color: white;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.qr {
  position: relative;
  width: 240px;
  height: 240px;
  background: #3e4855;
  border-radius: 10px;
}

.qr:not([src])::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #3e4855;
}
